-#----------------------------------------------------------------------------#
-#   index.haml                                                               #
-#                                                                            #
-#   Copyright (c) 2015, Seventy Four, Inc.                                   #
-#   All rights reserved.                                                     #
-#----------------------------------------------------------------------------#

%p
  Basilisk is a viral loop for programmers.  We host our source code on&nbsp;
  %a{href: 'https://github.com/brainix/basilisk'}> GitHub
  , continuously deploy with&nbsp;
  %a{href: 'https://travis-ci.org/brainix/basilisk'}> Travis CI
  , and host our website on&nbsp;
  %a{href: uri('/')}> Heroku
  \.  We then use our website to invite our friends to collaborate on Basilisk
  on GitHub.

- if user
  %a.button{href: uri('/invite')} Invite Collaborators
- else
  %a.button{href: uri('/login')} Log in via GitHub
