-#----------------------------------------------------------------------------#
-#   index.haml                                                               #
-#                                                                            #
-#   Copyright (c) 2015, Seventy Four, Inc.                                   #
-#   All rights reserved.                                                     #
-#----------------------------------------------------------------------------#

%h2 What is Basilisk?
%p
  Basilisk is a viral loop for programmers.  We host our source code on&nbsp;
  %a.external{href: 'https://github.com/brainix/basilisk'}> GitHub
  , continuously deploy with&nbsp;
  %a.external{href: 'https://travis-ci.org/brainix/basilisk'}> Travis CI
  , and host our website on&nbsp;
  %a{href: uri('/')}> Heroku
  \.  We then use our website to invite our friends to&nbsp;
  %a.external{href: 'http://spool.tv/vanilla-ice/ice-ice-baby'}> collaborate
  on Basilisk on GitHub.

%p
  Since we deploy continuously, if you push changes to our code on GitHub,
  you&rsquo;ll see your changes on our live website on Heroku in minutes.

%h2 How can I help?
%ol
  - unless user
    %li
      %a{href: 'mailto:basilisk@74inc.com?subject=Invite Me!'}<
        Request an invitation
      to collaborate.
  %li Vandalize our site.
  %li Invite your friends to collaborate.
  %li Post about Basilisk anywhere you want.

- if user
  %a.button{href: uri('/invite')} Invite Collaborators
- else
  %a.button{href: uri('/login')} Log in via GitHub
%h2 The Basilisk in embryonic form:
%img{:class => "big_pic"}(src="http://media-cache-ak0.pinimg.com/736x/4b/4c/7e/4b4c7e20e691411d6a74775a321ac688.jpg")
