-#----------------------------------------------------------------------------#
-#   invite.haml                                                              #
-#                                                                            #
-#   Copyright (c) 2015, Seventy Four, Inc.                                   #
-#   All rights reserved.                                                     #
-#----------------------------------------------------------------------------#



%form{method: 'post'}
  - following.each_with_index do |user, index|
    %input{id: "user-#{index}", type: 'checkbox', name: 'users[]',
           value: user.login}
    %label{for: "user-#{index}"}
      %img{src: user.avatar_url, alt: user.login}
      #{user.login}
  %input{type: 'submit', value: 'Invite'}
